.DesignerTools {
  position: fixed;
  bottom: 101px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  text-align: left; }
  @media only screen and (min-width: 768px) {
    .DesignerTools {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 220px;
      background-color: transparent; } }
  @media only screen and (min-width: 768px) and (min-width: 992px) {
    .DesignerTools {
      width: 272px; } }
  @media only screen and (min-width: 768px) and (min-width: 1200px) {
    .DesignerTools {
      width: 332px; } }
  @media only screen and (min-width: 768px) and (min-width: 1580px) {
    .DesignerTools {
      width: 420px; } }
