.DecorationsPreviewer {
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%; }
  .DecorationsPreviewer .holder {
    margin: 0;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden; }
  .DecorationsPreviewer .slider-item-wrapper {
    display: flex;
    flex-wrap: wrap; }
  @media only screen and (min-width: 768px) {
    .DecorationsPreviewer .holder {
      width: 100% !important;
      padding-top: 1.5rem; }
      .DecorationsPreviewer .holder .slider-item-wrapper {
        width: 100% !important; } }
