@import '../../_shared/variables';
@import '../../_shared/mixins';

.PatternsTool {
  box-sizing: border-box;

  &.tool {
    padding-bottom: 25px;
  }

  // ** DESKTOP STYLES **
  @include desktop {
    .Dots {
      display: none;
    }
  }
}