.ColorsTool {
  box-sizing: border-box; }
  .ColorsTool .colors-nav {
    display: flex;
    margin-top: -15px;
    margin-bottom: 10px; }
    .ColorsTool .colors-nav li {
      box-sizing: border-box;
      display: inline-block;
      height: 25px;
      margin-right: 10px;
      color: #fff;
      font-size: 0.7em;
      font-weight: 400;
      padding: 0 3px 5px;
      transition: border 0.5s; }
      .ColorsTool .colors-nav li.selected {
        border-bottom: 2px solid rgba(23, 171, 222, 0.6); }
