@import '../../_shared/variables';
@import '../../_shared/mixins';

.DecorationsPreviewer {
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  
  .holder {
    margin: 0;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .slider-item-wrapper {
    display: flex;
    flex-wrap: wrap;
  }


  // Desktop Styles
  @include desktop() {

    .holder {
      width: 100% !important;
      padding-top: 1.5rem;
      
      .slider-item-wrapper {
        width: 100% !important;
      }

    }
  }
}