@import '../../_shared/variables';
@import '../../_shared/mixins';


.MobileNav {
  display: flex;
  flex-direction: row;
  padding: 3px 0 0;
  flex-wrap: no-wrap;
  height: 50px;
  

  // Desktop Styles
  @include desktop() {
    display: none; 
  }
}