@import '../../_shared/variables';

.Loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  color: #fff;
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: rgba(0,0,0,1);
  z-index: 1001;
  
  .progress-bar-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50vw;
    height: 40px;
    border: 2px solid $gray-medium;
    border-radius: 10px;
    overflow: hidden;
    
    .progress-bar {
      height: 100%;
      background-color: #fff;
      width: 1%;
      transform-origin: left;
    }  
  }


}